:root{
    padding: 0;
    margin: 0;
    font-family: sans-serif; 
}
li{
    list-style: none;
}
.header-ul{
    z-index: 9;
}
#product-card{
    display: flex;
    margin: 20px 0;
}
.img-section{
    width: 50%;
    position: relative;
    margin-bottom: 20px;
}
.main-img-div{
    display: flex;
    overflow: hidden;
    margin: 10px 30px 50px 0 ;
    scroll-behavior: smooth;
    transition: 1s;
}
.main-img{
    margin: 0 auto;
    min-width: 100%;
    aspect-ratio: 1.33;
    border-radius: 3px;
}
#small-images{
    display: flex;
    /* position: absolute; */
    justify-content: space-between;
}
#small-images img{
    max-width: 110px;
    max-height: 110px;
    padding: 10px 10px 10px 0;
} 
.main-img, #small-img img{
    border-radius: 10px;
}
.product-details{
    margin-left: 50px;
    display: block;
    padding-top: 25px;
}
.related-prod-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.related-products h1{
    margin-bottom: 10px;
} 

.detail-child{
    margin: 20px auto;
    color: #5c6c75;
}
.detail-child.product-category{
    color: rgb(166 167 114);
}
.detail-child.product-category :hover{
    /* cursor: pointer; */
    color:rgb(0, 0, 0) ;
}

.detail-child.product-title{
    font-size: 35px;
    color: black;
}
.detail-child.product-rating{
    margin-bottom: 10px;
    font-size: 14px;
}
.detail-child.product-price{
    font-size: 21px;
    margin: 10px 0;
}
.qty-div{
    margin: 20px 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.change-qty{
    font-size: 10px;
    padding: 7px 10px;
    border-radius: 2px;
    height: 10px;
}
.change-qty.inc-dec-wish{
    border-radius: 2px;
    background-color: rgb(246, 229, 229);
}
.change-qty.inc-dec-wish:hover{
    cursor: pointer;
    background-color: rgb(212, 208, 208);
}
.to-buy-quantity{
    width: 15px;
}
input[name="qty-box"]{
    border: none;
    max-width: 15px;
    /* background-color: rgb(212, 208, 208); */
}
.add-to-cart-div{
    margin: 25px 0;
    position: relative;
}
.add-to-cart-div.add-to-cart-btn{
    height: 28px;
    position: absolute;
}
.add-to-cart-div.add-to-cart-btn:hover {
    background-color: #097909;
    cursor: pointer;
}

.add-to-wishlist{
    position: absolute;
    left: 108px;
}
.product-price.child-1{
    margin-right: 10px;
}
.product-price.child-2{
    margin-right: 10px;
    color: #001e3b;
}
.discount-span{
    font-size: 14px;
    /* border-radius: 10px; */
    /* background-color: rgb(239, 145, 145);     */
    padding: 5px;
    
}
button.site-button.add-to-cart-btn.related-btn {
    float: right;
}
.related-products{
    color: #21313c;
}
.brand-stock-ship-child{
    padding: 10px 0;
}


/* for cateogry page */
.category-container{
    display: flex;
}
.sidebar{
    flex: 1;
}
.prods-by-category{
    flex: 4.5;
}

/* aside  */
.cat-aside{
    margin: 20px 0;
    width: calc(100%-1102px);
}
.cat-aside h3{
    font-size: 17px;
    margin-bottom: 17px;
}
.cat-aside li{
    font-size: 14px;
    padding: 4px 0;
}
.search-brand {
    margin-bottom: 20px;
}
.search-brand span{
    position: relative;
}
.search-brand button{
    position: absolute;
    right: 12px;
    top: 37px;
    background-color: white;
    border-style: none;
}
.sortby-rating h4{
    margin-bottom: 15px;
}
.sortby-rating{
    margin-bottom: 10px;
}
.price-slider{
    margin: 20px 0;
}


.cat-card-title{
    margin: 10px 0;
    padding: 20px;
    background-color: rgb(240, 243, 242);
    border-radius: 10px;
}
/* products in category */
.cat-prod-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.categories-prod{
    width: 22%;
}
